@font-face {
  font-family: 'silkscreen';
  src: url('/src/assets/slkscr-webfont-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkscreen';
  src: url('/src/assets/slkscrb-webfont-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

#root{
  background-color: #b0b0b8;
}

.chat-app{
  display: grid;
  grid-template-columns: 68% 20px auto;
  grid-template-rows: 60% 20px auto;
  height: 92%;
  border-bottom: 2px solid #000000 ;
}

.message-display{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 20px;
  border: 4px inset #68605c;
}

.welcome-text{
  margin: 0;
  font-family: "silkscreen";
  font-weight: bold;
  color: #fcfcfc;
  font-size: 25px;
}
.header {
  /* margin-top: 20px; */
  background-color: #208800;
  text-align: left;
  /* width: 100%; */
}
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  /* width: 100%; */
  height:calc(100% - 45px );
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  border-top: 2px solid #68605c;
}
.message {
  display: block;
  align-items: flex-start;
  margin-bottom: 8px;
  font-family: 'silkscreen';
  width: 100%;
  overflow-wrap: break-word;
}
.user{
  /* font-weight: bold; */
  /* margin-right: 10px; */
  color: #68605c;
  font-family: 'silkscreen';
  font-size: 15px;
}

.message-write{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border: 4px inset #68605c;
}
.message-write-welcome{
  font-size: auto;
  font-size: 120%;
  height: 10%;
  padding: 2px;
  color: #7070fc;
  font-family: 'silkscreen';
  border-bottom: 2px solid #68605c;
}
.new-message-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(90% - 5px);
  margin: 0;
  background-color: #fcfcfc;
}
.new-message-input{
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  font-family: 'silkscreen';
}
.send-button {
  border: none;
  outline: none;
  background: #3b5998;
  color: #fff;
  font-size: 20px;
  font-family: 'silkscreen';
  font-weight: bold;
  padding: 8px;
}

.gap-element-col{
  margin-top: 20px;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color:#b0b0b8;
  height: auto;
  /* border-right: 2px solid #000000; */
  /* border-left: 3px solid white; */
  /* border-top: 1px solid #000000; */
  border: 4px outset #fcfcfc;
}
.gap-element-row{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color:#b0b0b8;
  border: 3px outset #fcfcfc;
}

.users-list{
  margin-top: 20px;
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: #fcfcfc;
  /* border-top: 1px solid black; */
  /* border-right: 3px solid #fcfcfc; */
  border: 2px solid #68605c;
  outline: 3px inset #fcfcfc;
  overflow-x: hidden;
}
.user-welcome-text{
  color:#7070fc;
  background-color: #b0b0b8;
  font-weight: bold;
  font-family: 'silkscreen';
  height: 40px;
  display: flex;
}
.user-wel-p{
  margin: auto;
  padding:5px
}
.user-names{
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  /* height: calc(100% - 51px); */
  font-size: 15px;
  font-family: 'silkscreen';
  font-weight: bold;
  padding: 5px;
  border-top: 2px solid #68605c;
}
.user-names * {
  margin-bottom: 6px;
}