@font-face {
  font-family: 'silkscreen';
  src: url('/src/assets/slkscr-webfont-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkscreen';
  src: url('/src/assets/slkscrb-webfont-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}
#root{
  height: 100%;
  width: 100%;
}

.auth{
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b0b0b8;
  width: 80%;
  height: 300px;
  border: 3px outset #000000;
  text-align: center;
}
.auth * {
  font-family: 'silkscreen';
}
.auth button {
  margin-top: calc(110px);
  font-size: 25px;
  border: 2px outset #000000;
  cursor: pointer;
}
.auth p {
  margin: 0;
  background-color: #208800;
  color: #fcfcfc;
  text-align: center;
  height: 40px;
  font-size: 27px;
  border-bottom: 1px solid #000000;
}
.signin-page{
  background-color: #7070fc;
  height: 100%;
  width: 100%;
}

.room {
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 25px);
  padding: 5px;
  padding-top: 20px;
  background-color: #7070fc;
}
.click-icon{
  height: 120px;
  width: 120px;
  position: absolute;
  top:30%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  cursor: pointer;
}
.room-window * {
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: 'silkscreen';
}
.room-window{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px outset #68605c;
  background-color: #b0b0b8;
}

.window-top-line{
  height: 30px;
  width: 100%;
  margin-top: 0px;
  background-color: #208800;
  display: flex;
  flex-direction: row;
}
.window-top-line *{
  margin: 0;
}
.window-emoji{
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px
}
.window-top-line-text{
  color: #fcfcfc;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px
}
.window-close{
  height: 26px;
  width:26px;
  margin-left: auto;
  margin-right: 3px;
  margin-top:auto;
  margin-bottom: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}


.enter-text{
  margin-top: 100px;
  width: 90%;
  text-align: center;
  font-size: 40px;
  font-weight:bold;
}
.enter-input{
  width: 80%;
  max-width: 700px;
  font-size: 20px;
  font-weight: 555;
  height: 35px;
  background-color: #fbfbfc;
  border: 3px inset #000000;
  border-radius: 3px;
  cursor: pointer;
}
.room-list{
  height: 50px;
  line-height: 50px;
  color: #fcfcfc;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color: #f8a850;
  border: 3px outset #ac581c;
  border-radius: 3px;
  cursor: pointer;
}
.enter-button{
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  background-color: #70f828;
  color: #fcfcfc;
  border: 3px outset #208800;
  border-radius: 3px;
  cursor: pointer;
}

.sign-out-div{
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 20px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'silkscreen';
  text-align: center;
  color: #000000;
  border-radius: 3px;
}